/* ===== Global Reset ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ===== Header ===== */
header {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* ===== Body ===== */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* ===== Container ===== */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* ===== Card Styling ===== */
.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* ===== Typography ===== */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

/* ===== Profile Image ===== */
.profile-img {
    display: block;
    margin: 15px auto;
    height: 200px;
    border-radius: 10px;
}

/* ===== Lists ===== */
ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* ===== Links ===== */
a {
    text-decoration: none;
    color: #2165b2;
}

a:hover {
    color: #f60303;
}

/* ===== Table ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #62050d;
    color: white;
}

/* ===== Form ===== */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #62050d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #825e61;
}

/* ===== Footer ===== */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
